body{

 background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
        /* bottom, image */
     url(images/13.jpg);
    
     background-size: cover; 
     color: white;
     font-size: 20px;
}
.jumbotron{
	background-color: transparent;
    text-decoration: underline;
}
.navbar-brand{
	font-size: 24px;
     color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black;
   padding-top: 15px; 
   
 
}



