body{
	 background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
        /* bottom, image */
        url(images/7.jpg); 
	background-size: cover;
}


.jumbotron {
	background-color: transparent;
    color: white;

}
.navbar-brand{
	font-size: 24px;	
}

.navbar-default .navbar-nav > li > a {
   
    font-size: 20px;
    text-decoration: underline;
   
}
.jumbotron h1{
    font-size: 30px;
}
.parag{
color: white;

}



